@{
    ViewData["Title"] = "Главная";
}

<div class="slider-wrapper">

    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2>Создание сайтов</h2>
            <p>Наша цель, чтобы у вас был лучший сайт или интернет-магазин в своей сфере. Главное наше отличие — проработанный контент и тексты с точки зрения маркетинга, продуманная структура сайта, премиальный дизайн и высокая конверсия.</p>
            <div class="da-img"><img src="img/slide1.png" /></div>
        </div>
        <div class="da-slide">
            <h2>SEO продвижение</h2>
            <p>Мы знаем: вам нужны продажи, а не классическое SEO. И, чтобы обеспечить продажи, реализуем маркетинговый комплекс, включающий в себя: SEO работы, доработку дизайна и повышение конверсии сайта, размещение хороших отзывов на сайтах-отзовиках, обновление информации на картах и быструю тех.поддержку.</p>
            <div class="da-img"><img src="img/slide2.png" /></div>
        </div>
        <div class="da-slide">
            <h2>Контектная реклама</h2>
            <p>Настройка и ведение Яндекс Директ, Google Ads с бесплатным внедрением системы сквозной аналитики Roistat и AmoCRM. Несем ответственность за Лиды, а также контролируем продажи.</p>
            <div class="da-img"><img src="img/slide3.png" /></div>
        </div>
        <div class="da-slide">
            <h2>SMM продвижение</h2>
            <p>Увеличение продаж с помощью комплексного продвижения в социальных сетях: Instagram, TikTok, Facebook, Вконтакте, Одноклассники, а также таргетированной рекламы с максимальным охватом целевой аудитории.</p>
            <div class="da-img"><img src="img/slide4.png" /></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>

</div>
<!-- end: Slider -->
<!--start: Wrapper-->
<div id="wrapper">

    <!--start: Container -->
    <div class="container">

        <hr>

        <!-- start: Row -->
        <div class="row">

            <!-- start: Icon Boxes -->
            <div class="icons-box-vert-container">

                <!-- start: Icon Box Start -->
                <div class="span6">
                    <h3>Создание сайтов</h3>
                    <p>Закажите создание сайта «Под ключ» с продвижением и тех. поддержкой, а оплачивайте в рассрочку на 6 месяцев.</p>
                </div>

                <div class="span6">
                    <h3>Настройка и ведение контекстной рекламы</h3>
                    <p>Яндекс Директ и Google Ads с бесплатным внедрением системы сквозной аналитики Roistat и AmoCRM.</p>
                </div>
                <div class="span6">
                    <h3>Продвижение сайтов</h3>
                    <p>Мы знаем: вам нужны продажи, а не продвижение</p>
                </div>
                <div class="span6">
                    <h3>Разработка мобильных приложений</h3>
                    <p>Кроссплатформенное решение: мы экономим ваше время и деньги разрабатывая приложения которые работают сразу на Аndroid и iOS без дополнительных затрат.</p>
                </div>
                <div class="span6">
                    <h3>Разработка веб-сервисов и сложных сайтов</h3>
                    <p>Хотите запустить старт-ап, интернет-магазин с тысячами товаров и удобным личным кабинетом?</p>
                </div>
                <div class="span6">
                    <h3>Performance-маркетинг с KPI</h3>
                    <p>На старте подготавливаем прогноз (медиаплан) по трафику, лидам, продажам, ДРР, стоимости целевого действия… и далее системно выполняем его через комплекс инструментов</p>
                </div>
                <div class="span6">
                    <h3>Внедрение и настройка amoCRM</h3>
                    <p>Разработаем техническое задание на внедрение amoCRM или реализуем проект по вашему описанию</p>
                </div>
                <div class="span6">
                    <h3>Техническая поддержка сайтов</h3>
                    <p>Обеспечиваем работоспособность вашего сайта, регулярно поддерживая и развивая ваш проект</p>
                </div>
                <div class="span6">
                    <h3>Разработка маркетинговой стратегии</h3>
                    <p>Нельзя просто так взять и стать самым любимым и подходящим продуктом для людей. За каждым сильным брендом стоит большой анализ рынка и конкурентов, детальное исследование целевой аудитории, позиционирование и точная стратегия продвижения. </p>
                </div>
                <div class="span6">
                    <h3>SMM продвижение</h3>
                    <p>Увеличение продаж с помощью комплексного продвижения в социальных сетях Instagram, TikTok, Facebook, Вконтакте, Одноклассники и таргетированной рекламы с максимальным охватом целевой аудитории.</p>
                </div>
                <!-- end: Icon Box -->

            </div>
            <!-- end: Icon Boxes -->
            <div class="clear"></div>
        </div>
        <!-- end: Row -->

        <hr>

    </div>
    <!--end: Container-->

</div>
<!-- end: Wrapper  -->
