@{
    ViewData["Title"] = "От агентстве";
}

<div id="page-title">

    <div id="page-title-inner">

        <!-- start: Container -->
        <div class="container">

            <h2><i class="ico-stats ico-white"></i>О компании</h2>

        </div>
        <!-- end: Container  -->

    </div>

</div>
<!-- end: Page Title -->
<!--start: Wrapper-->
<div id="wrapper">

    <!--start: Container -->
    <div class="container">

        <!--start: Row -->
        <div class="row">

            <div class="span8">

                <!-- start: About Us -->
                <div id="about">
                    <p></p>
                    <p>Развитие агентства «Акцент на результат» основывается на трех факторах: партнерское отношение к клиентам, постоянное обучение сотрудников и совершенствование технологических процессов для достижения высоких результатов в реализуемых проектах.</p>
                    <p>Мы постоянно развиваемся, обучаемся новым технологиям и подходам, что позволяет достигать наивысших результатов. Наша команда растет с каждым днем, и при этом мы совершенно не испытываем текучки кадров, некоторые сотрудники работают в компании с самого основания. Такое положение исключает хаос в работе и способствует высокой эффективности команды.</p>
                    <p>Digital-агентство «Акцент на результат» было основано в 2006 году, специализируется на разработке и реализации комплексных стратегий продвижения в интернете с гарантией выполнения KPI.</p>
                    <p>Сегодня «Акцент на результат» входит в ТОП-15 агентств России по версии Roistat, в список лучших компаний по версии портала alladvertising.ru и участвует в рейтинге PPAP.</p>
                </div>
                <!-- end: About Us -->

            </div>

            <div class="span4">

                <!-- start: Sidebar -->
                <div id="sidebar">

                    <!-- start: Skills -->
                    <div class="title"><h3>Опыт</h3></div>
                    <ul class="progress-bar">
                        <li>
                            <h5>Веб-дизайн ( 60% )</h5>
                            <div class="meter"><span style="width: 60%"></span></div><!-- Edite width here -->
                        </li>
                        <li>
                            <h5>Вордпресс ( 80% )</h5>
                            <div class="meter"><span style="width: 80%"></span></div><!-- Edite width here -->
                        </li>
                        <li>
                            <h5>Брендинг ( 100% )</h5>
                            <div class="meter"><span style="width: 100%"></span></div><!-- Edite width here -->
                        </li>
                        <li>
                            <h5>SEO ( 90% )</h5>
                            <div class="meter"><span style="width: 90%"></span></div><!-- Edite width here -->
                        </li>
                    </ul>
                    <!-- end: Skills -->

                </div>
                <!-- end: Sidebar -->

            </div>

        </div>
        <!--end: Row-->

    </div>
    <!--end: Container-->
    <!--start: Container -->


    <div class="container">

        <hr>

        <!-- start Clients List -->
        <div class="title"><h3>Команда</h3></div>
        <div class="clients-carousel">

            <ul class="slides clients">
                <li><img src="~/img/team1.PNG" alt="" /></li>
                <li><img src="~/img/team2.png" alt="" /></li>
                <li><img src="~/img/team3.png" alt="" /></li>
                <li><img src="~/img/team4.png" alt="" /></li>
                <li><img src="~/img/team5.png" alt="" /></li>
                <li><img src="~/img/team6.png" alt="" /></li>
                <li><img src="~/img/team7.png" alt="" /></li>
                <li><img src="~/img/team8.png" alt="" /></li>
                <li><img src="~/img/team9.png" alt="" /></li>
                <li><img src="~/img/team10.png" alt="" /></li>
            </ul>

        </div>
        <!-- end Clients List -->

        <hr>

    </div>
    <!--end: Container-->
    <div class="container">

        <hr>

        <!-- start Clients List -->
        <div class="title"><h3>Компании которые выбрали нас</h3></div>
        <div class="clients-carousel">

            <ul class="slides clients">
                <li><img src="~/img/comp1.png" alt="" /></li>
                <li><img src="~/img/comp2.png" alt="" /></li>
                <li><img src="~/img/comp3.png" alt="" /></li>
                <li><img src="~/img/comp4.png" alt="" /></li>
                <li><img src="~/img/comp5.png" alt="" /></li>
                <li><img src="~/img/comp6.png" alt="" /></li>
                <li><img src="~/img/comp7.png" alt="" /></li>
                <li><img src="~/img/comp8.png" alt="" /></li>
                <li><img src="~/img/comp9.png" alt="" /></li>
                <li><img src="~/img/comp10.png" alt="" /></li>
            </ul>

        </div>
        <!-- end Clients List -->

        <hr>

    </div>
    <!--end: Container-->

</div>
<link href="~/css/bootstrap.css" rel="stylesheet">
<link href="~/css/style.css" rel="stylesheet" type="text/css">
<link href="~/css/parallax-slider.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,80">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
<script src="~/js/jquery-1.8.2.js"></script>
<script src="~/js/bootstrap.js"></script>
<script src="~/js/flexslider.js"></script>
<script src="~/js/carousel.js"></script>
<script src="~/js/jquery.cslider.js"></script>
<script src="~/js/slider.js"></script>
<script defer="defer" src="~/js/custom.js"></script>
